<!DOCTYPE html>
<html lang="jp">
<head>
<meta charset="UTF-8">
<title>header</title>
<link rel="stylesheet" href="header.css">
</head>
<body>
	<!-- 詳細 -->
	<main class="employee-detail">
		<div th:fragment="edit_contents" class="contents">
			<form th:action="@{/edit}" method="post" th:object="${employee}">
				<div class="contents">
					<table>
						<tr>
							<th class="table_title">項目</th>
							<th class="table_title">内容</th>
						</tr>
						<tr class="hide">
							<td>ID</td>
							<td><input type="text" name="employeeId"
								th:field="*{employeeId}"></td>
						</tr>
						<tr>
							<td>名前</td>
							<td><input type="text" name="employeeName"
								th:field="*{employeeName}"></td>
						</tr>
						<tr>
							<td>誕生日</td>
							<td><input type="datetime" name="birthday" placeholder="yyyy/mm/dd"
								th:field="*{birthday}"></td>
						</tr>
						<tr>
							<td>年齢</td>
							<td><input type="number" name="age"
								th:field="*{age}"></td>
						</tr>
						<tr>
							<td>性別</td>
							<td class="radio-form">
								<div th:each="sex : ${sexMap}" class="form-check-inline">
									<input type="radio" class="form-check-input"
										th:text="${sex.value}" th:value="${sex.key}"
										th:field="*{sex}">
								</div>
							</td>
						</tr>
						<tr>
							<td>企業</td>
							<td><p th:text="${employee.companyCode}" th:field="*{companyCode}"></td>
						</tr>
						<tr>
							<td>稼働先</td>
							<td><select name="companyDepart"
								th:field="*{companyDepartCode}">
									<option th:each="company_depart : ${companyDepartMap}"
										th:text="${company_depart.value}"
										th:value="${company_depart.key}"></option>
							</select></td>
						</tr>
						<tr>
							<td>郵便番号</td>
							<td><input type="text" name="zipCode"
								th:field="*{zipCode}"></td>
						</tr>
						<tr>
							<td>都道府県</td>
							<td><input type="text" name="address1"
								th:field="*{address1}"></td>
						</tr>
						<tr>
							<td>市町村</td>
							<td><input type="text" name="address2"
								th:field="*{address2}"></td>
						</tr>
						<tr>
							<td>町域</td>
							<td><input type="text" name="address3"
								th:field="*{address3}"></td>
						</tr>
						<tr>
							<td>丁目以降</td>
							<td><input type="text" name="blockName"
								th:field="*{blockName}"></td>
						</tr>
						<tr>
							<td>電話番号</td>
							<td><input type="text" name="phoneNumber"
								th:field="*{phoneNumber}"></td>
						</tr>
						<tr>
							<td>Eメール</td>
							<td><input type="text" name="email"
								th:field="*{email}"></td>
						</tr>
						<tr>
							<td>メール配信の許可</td>
							<td><select th:field="*{emailFlg}">
									<option value="1" text="許可する">許可する</option>
									<option value="2" text="許可しない">許可しない</option>
							</select></td>
						</tr>
						<tr>
							<td>Java</td>
							<td class="radio-form">
								<div th:each="language : ${radioLanguage}" class="form-lang-box">
									<input type="radio" name="java" th:text="${language.key}"
										th:value="${language.value}" th:field="*{java}">
								</div>
							</td>
						</tr>
						<tr>
							<td>PHP</td>
							<td class="radio-form">
								<div th:each="language : ${radioLanguage}" class="form-lang-box">
									<input type="radio" name="php" th:text="${language.key}"
										th:value="${language.value}" th:field="*{php}">
								</div>
							</td>
						</tr>
						<tr>
							<td>JavaScript</td>
							<td class="radio-form">
								<div th:each="language : ${radioLanguage}" class="form-lang-box">
									<input type="radio" name="javaScript" th:text="${language.key}"
										th:value="${language.value}" th:field="*{javaScript}">
								</div>
							</td>
						</tr>
						<tr>
							<td>mySQL</td>
							<td class="radio-form">
								<div th:each="language : ${radioLanguage}" class="form-lang-box">
									<input type="radio" name="mySQL" th:text="${language.key}"
										th:value="${language.value}" th:field="*{mysql}">
								</div>
							</td>
						</tr>
						<tr>
							<td>SE</td>
							<td class="radio-form">
								<div th:each="language : ${radioLanguage}" class="form-lang-box">
									<input type="radio" name="SE" th:text="${language.key}"
										th:value="${language.value}"
										th:field="*{systemEngeneer}">
								</div>
							</td>
						</tr>
						<tr>
							<td>python</td>
							<td class="radio-form">
								<div th:each="language : ${radioLanguage}" class="form-lang-box">
									<input type="radio" name="python" th:text="${language.key}"
										th:value="${language.value}" th:field="*{python}">
								</div>
							</td>
						</tr>
						<tr>
							<td>android</td>
							<td class="radio-form">
								<div th:each="language : ${radioLanguage}" class="form-lang-box">
									<input type="radio" name="android" th:text="${language.key}"
										th:value="${language.value}" th:field="*{android}">
								</div>
							</td>
						</tr>
						<tr>
							<td>デザイン</td>
							<td class="radio-form">
								<div th:each="language : ${radioLanguage}" class="form-lang-box">
									<input type="radio" name="design" th:text="${language.key}"
										th:value="${language.value}" th:field="*{design}">
								</div>
							</td>
						</tr>
					</table>
					<button class="submit" type="submit" name="update">更新</button>
					<a th:href="@{'/employeeDetail/' + *{employeeId}}"
						class="belinks">キャンセル</a>
				</div>
			</form>
		</div>
	</main>
</body>
</html>