<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>ログイン</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
</head>
<body class="pc">
    <!-- 林さん作成 -->
    <div th:fragment="login_contents">
    	<div  class="contents">
		    <h2>Management</h2>
		    <form th:action="@{/login}" method="post">
		        <label for="username"></label>
		        <input type="text" class="contact" name="username" size="42" placeholder="ユーザーネーム">
		        <br>
		        <label for="password"></label>
		        <input type="text" class="contact" name="password" size="42" placeholder="パスワード">
		        <br>
		        <input class="submit" type="submit" name="login" value="ログイン">
		        <br>
		        <a href="">
		            <font size="3" class="link">
		                パスワードを忘れた方はこちら
		                <i class="fab fa-pagelines"></i>
		            </font>
		        </a>
		    </form>
    	</div>
  	</div>
</body>
</html>

</body>
</html>