<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="container">
		<h1>ユーザー情報一覧</h1>
		<div class="float-end">
			<a th:href="@{/employee_add}" class="btn btn-primary">新規登録はこちら</a>
		</div> 
		<table class="table table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>姓</th>
					<th>名</th>
					<th>セイ</th>
					<th>メイ</th>
					<!-- <th>性別</th>
					<th>生年月日</th>
					<th>電話番号</th>
					<th>メールアドレス</th>
					<th>郵便番号</th>
					<th>都道府県</th>
					<th>市区町村</th>
					<th>番地以降</th>
					<th>備考欄</th>
					<th>契約フラグ</th> -->
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="employee : ${employeelist}" th:object="${employee}"
					class="align-middle">
					<td th:if="${username]"></td>
					<td th:text="*{password}"></td>
					<td th:text="*{mailaddress}"></td>
					<td th:text="*{mailAddressVerified}"></td>
					<td th:text="*{enabled}"></td>
					<!-- <td th:text="*{gender}"></td>
					<td th:text="*{birthday}"></td>
					<td th:text="*{tel_no}"></td>
					<td th:text="*{email}"></td>
					<td th:text="*{post_no}"></td>
					<td th:text="*{ken_code}"></td>
					<td th:text="*{address}"></td>
					<td th:text="*{address_detail}"></td>
					<td th:text="*{remarks}"></td>
					<td th:text="*{contract_flg}"></td> -->
					<td><a th:href="@{/customer/{id}(id=*{id})}"
						class="btn btn-secondary">詳細</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>