<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">
<head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
	<div class="container">
	    <h1 style= "border-bottom:3px dotted #000;">従業員新規登録</h1>
	    <form action="@{/employee/create}" th:object="${employeeRequest}" th:method="post">
	      <div style="padding-top: 15px; padding-bottom: 15px;">
	        <label>性：</label>
	        <input th:type="text" name="*{last_name}">
	        <label>名：</label>
	        <input th:type="text" name="*{first_name}">
	      </div>
	      <div style="padding-bottom: 15px;">
	        <label>セイ：</label>
	        <input th:type="text" name="*{last_name_Kana}">
	        <label>メイ：</label>
	        <input th:type="text" name="*{first_name_Kana}">
	      </div>
	      <div style="padding-bottom: 15px;">
	        <label>電話番号：</label>
	        <input th:type="text" name="*{tel_no}" style="width: 120px;">
	      </div>
	      <div style="padding-bottom: 15px;" >
	        <label>メールアドレス：</label>
	        <input th:type="text" name="*{mailAddress}" style="width: 300px;">
	      </div>
	      <div style="padding-bottom: 15px;">
	        <label>郵便番号：</label>
	        <input th:type="text" name="*{post_no}" style="width: 80px;">
	      </div>
	      <div style="padding-bottom: 15px;">
	        <label>都道府県：</label>
	        <select name="ken_code">
				<option value="" selected></option>
				<option value="北海道">北海道</option>
				<option value="青森県">青森県</option>
				<option value="岩手県">岩手県</option>
				<option value="宮城県">宮城県</option>
				<option value="秋田県">秋田県</option>
				<option value="山形県">山形県</option>
				<option value="福島県">福島県</option>
				<option value="茨城県">茨城県</option>
				<option value="栃木県">栃木県</option>
				<option value="群馬県">群馬県</option>
				<option value="埼玉県">埼玉県</option>
				<option value="千葉県">千葉県</option>
				<option value="東京都">東京都</option>
				<option value="神奈川県">神奈川県</option>
				<option value="新潟県">新潟県</option>
				<option value="富山県">富山県</option>
				<option value="石川県">石川県</option>
				<option value="福井県">福井県</option>
				<option value="山梨県">山梨県</option>
				<option value="長野県">長野県</option>
				<option value="岐阜県">岐阜県</option>
				<option value="静岡県">静岡県</option>
				<option value="愛知県">愛知県</option>
				<option value="三重県">三重県</option>
				<option value="滋賀県">滋賀県</option>
				<option value="京都府">京都府</option>
				<option value="大阪府">大阪府</option>
				<option value="兵庫県">兵庫県</option>
				<option value="奈良県">奈良県</option>
				<option value="和歌山県">和歌山県</option>
				<option value="鳥取県">鳥取県</option>
				<option value="島根県">島根県</option>
				<option value="岡山県">岡山県</option>
				<option value="広島県">広島県</option>
				<option value="山口県">山口県</option>
				<option value="徳島県">徳島県</option>
				<option value="香川県">香川県</option>
				<option value="愛媛県">愛媛県</option>
				<option value="高知県">高知県</option>
				<option value="福岡県">福岡県</option>
				<option value="佐賀県">佐賀県</option>
				<option value="長崎県">長崎県</option>
				<option value="熊本県">熊本県</option>
				<option value="大分県">大分県</option>
				<option value="宮崎県">宮崎県</option>
				<option value="鹿児島県">鹿児島県</option>
				<option value="沖縄県">沖縄県</option>
			</select>
	      </div>
	      <div style="padding-bottom: 15px;">
	        <label>市区町村：</label>
	        <input th:type="text" name="*{address}">
	      </div>
	      <div style="padding-bottom: 15px;">
	        <label>番地以降：</label>
	        <input th:type="text" name="*{address_detail}" style="width: 300px;">
	      </div>
	      <div style="padding-bottom: 15px;">
	        <label>生年月日：</label>
	        <input th:type="text" name="*{birthday}">
	      </div>
	      <div style="padding-bottom: 15px;">
	        <label>性別：</label>
	        <input th:type="radio" name="*{gender}" value="男">男性
	        <input th:type="radio" name="*{gender}" value="女">女性
	      </div>
	      <br />
	      <div>
	        <a href="/employee_list" class="btn btn-secondary">キャンセル</a>
	        <input type="submit" value="　登録　" class="btn btn-primary">
	      </div>
	  </form>
	</div>
</body>
</html>