
.title {
  color: black;
}
.name {
  color: black;
}

.keyword {
  margin: 150px 0 0 0;
}

.quickink{
	color: white;
}


.quickConteinar {
  display: flex;
  margin: 140px 120px 50px 60px;
}

.quickItem1 {
  width: 370px;
  height: 110px;
  background-color: #6699ff;
  padding-top: 70px;
  border-radius: 5%;
  color: #ffffff;
  font-size: 30px;
  transition: 0.3s; /* なめらか変化 */
  cursor: pointer; /* カーソル */
  box-shadow: 2px 2px 1px #666666; /* 影の設定 */
}

.quickItem1:hover {
  box-shadow: none; /* カーソル時の影消去 */
  color: #ffffff; /* 背景色 */
  background: #ffcc99; /* 文字色 */
  border: 2px solid #ffcc99; /* 枠の設定 */
}

.quickItem2 {
  width: 370px;
  height: 110px;
  background-color: #6699ff;
  margin-left: 110px;
  padding-top: 70px;
  border-radius: 5%;
  color: #ffffff;
  font-size: 30px;
  transition: 0.3s; /* なめらか変化 */
  cursor: pointer; /* カーソル */
  box-shadow: 2px 2px 1px #666666; /* 影の設定 */
}

.quickItem2:hover {
  box-shadow: none; /* カーソル時の影消去 */
  color: #ffffff; /* 背景色 */
  background: #ffcc99; /* 文字色 */
  border: 2px solid #ffcc99; /* 枠の設定 */
}
.quickItem3 {
  width: 370px;
  height: 110px;
  background-color: #6699ff;
  margin-left: 110px;
  padding-top: 70px;
  border-radius: 5%;
  color: #ffffff;
  font-size: 30px;
  transition: 0.3s; /* なめらか変化 */
  cursor: pointer; /* カーソル */
  box-shadow: 2px 2px 1px #666666; /* 影の設定 */
}

.quickItem3:hover {
  box-shadow: none; /* カーソル時の影消去 */
  color: #ffffff; /* 背景色 */
  background: #ffcc99; /* 文字色 */
  border: 2px solid #ffcc99; /* 枠の設定 */
}

.button {
  width: 60px;
  height: 35px;
  margin: 5px auto 0 auto;
  border-radius: 10%; /* 角丸 */
  font-size: 14px; /* 文字サイズ */
  text-align: center; /* 文字位置 */
  cursor: pointer; /* カーソル */
  padding: 6px 6px; /* 余白 */
  background: #3399ff; /* 背景色 */
  color: #ffffff; /* 文字色 */
  transition: 0.3s; /* なめらか変化 */
  box-shadow: 2px 2px 1px #666666; /* 影の設定 */
  border: 2px solid #3399ff; /* 枠の設定 */
}
.button:hover {
  box-shadow: none; /* カーソル時の影消去 */
  color: #ffffff; /* 背景色 */
  background: #ffcc99; /* 文字色 */
  border: 2px solid #ffcc99; /* 枠の設定 */
}